<div class="row">
  <h1 class="display-6 ms-5 mt-5">Day4 Tasks</h1>
  <form class="w-50 mt-5 form ms-5">
    <div class="row">
      <div class="col-md-6">
        <label>First Name</label>
        <input type="text" name="fname" class="form-control" [(ngModel)]="fname">
      </div>
      <div class="col-md-6">
        <label>Last Name</label>
        <input type="text" name="lname" class="form-control" [(ngModel)]="lname">
      </div>
      <div class="col-md-6">
        <label>Amount</label>
        <input type="number" name="amount" max="1000000" min="0" class="form-control" [(ngModel)]="amount">
      </div>

      <div class="col-md-6">
        <label>Choose Currency</label>
        <select class="form-select" aria-label="Default select example" (change)="selectChangeHandler($event)">
          <option selected>Open this select menu</option>
          <option value="GBP">British Pound Sterling</option>
          <option value="HKD">Hong Kong Dollar</option>
          <option value="INR">Indian Rupee</option>
          <option value="JPY">Japanese Yen</option>
          <option value="KRW">South Korean Won</option>
          <option value="VND">Vietnamese Dong</option>
          <option value="XCD">East Caribbean Dollar</option>
          <option value="TWD">New Taiwan Dollar</option>
        </select>
      </div>
        <button class="btn btn-primary w-25 mt-5 ms-3" (click)="show=true" type="submit">Show Data</button>
    </div>
  </form>

  <div class="col-md-12 w-50 mt-5 ms-5" *ngIf="show">
    <ul class="list-group" >
      <li class="list-group-item active" aria-current="true">Sentence Case and Currency Pipe</li>
      <li class="list-group-item">Name in Sentence Case:{{" "+fname + " "+lname | titlecase}}</li>
      <li class="list-group-item">Amount According to Currency:{{amount | currency:myCurrency}}</li>
    </ul>
  </div>


  <div>
    <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search" class="form-control mt-5 ms-5 w-25">

    <table class="table-bordered  table w-50 mt-5 ms-5">
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <ng-container *ngIf="users |filter:searchTerm as records">
        <tr *ngFor="let user of records">
          <td>{{user.Company}}</td>
          <td>{{user.Contact}}</td>
          <td>{{user.Country}}</td>
        </tr>
        <tr *ngIf="records.length===0">
          <td>NO record found</td>
        </tr>
      </ng-container>
    </table>
  </div>

</div>
